:root {
  font-family: "Anonymous Pro", monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #111;
  text-decoration: inherit;
}

a:hover {
  color: #111;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-family: "Anonymous Pro", monospace;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  background-color: #111;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #111;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  border-color: #111;

}

.design-button:active {
  border-color: black !important;
  /* Ensures border turns black when clicked */
  /* background-color: #cc4d00; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #111;
  }

  button {
    background-color: #f9f9f9;
  }
}